@model OSM.Web.Models.ChiefScoutViewModel

@{
    ViewData["SectionShortName"] = Model.SectionShortName;
    ViewBag.Title = "Chief Scout Award";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<vc:chief-scout-table chief-scout=@Model></vc:chief-scout-table>
