@model HomepageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .badgeImage {
        width: 2rem;
    }
    
    .centerTable {
        margin: 0 auto;
    }
    
    tbody td, tbody th {
            border: 1px solid black;
    }
        
    .badgeComplete {
        background-color: gold !important;
    }
    
    
    .badgeStarted {
        background-color: lightgreen !important;
    }
</style>

<div class="text-center">
    <h1 class="display-4">1<sup>st</sup> King Alfred's</h1>
    <h2>Wantage Scout Group</h2>
    <table class="centerTable">
        <thead>
        <tr>
            <td></td>
            @foreach (var badge in Model.Badges)
            {
                <td>
                    <img class="badgeImage" title="@badge.Name" src="https://www.onlinescoutmanager.co.uk/@badge.Image" alt="@badge.Name Challenge Badge"/>
                </td>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var member in Model.MemberProgress)
        {
            <tr>
                <th>@member.Name</th>

                @foreach (var badge in member.Badges)
                {
                    <td class="@("badge" + badge.Value)">&nbsp;</td>
                }

            </tr>
        }
        </tbody>
    </table>
</div>