@using OSM.Models
@model MemberDetailViewModel

@{
    ViewData["title"] = string.Join(' ', Model.Member.FirstName, Model.Member.Initial);
}

@functions {

    private string GetBadgeFormat(BadgeType type)
    {
        switch (type)
        {
            case BadgeType.Challenge:
                return "bg-warning border-warning";
            case BadgeType.Staged:
                return "bg-primary border-primary";
            case BadgeType.Activity:
                return "bg-danger border-danger";
            default:
                return "bg-info border-info-emphasis text-dark";
        }
    }


}

<div class="text-center">
    <h1 class="display-4">@Model.Member.FirstName @Model.Member.LastName</h1>
</div>
<div class="row">
    <vc:patrol-summary patrol=@Model.Patrol/>
</div>
<div class="row">
    <h2 class="col-12">Badges</h2>
    <div class="col-lg-4 d-flex flex-column">
        <h3>This Term</h3>
        <vc:badge-list badges=@Model.BadgesThisTerm></vc:badge-list>
    </div>

    <div class="col-lg-4">
        <h3>Awarded</h3>
        <vc:badge-list badges=@Model.BadgesLastTerm></vc:badge-list>
    </div>

    <div class="col-lg-4">
        <h3>In Progress</h3>
        <vc:badge-list badges=@Model.BadgesInProgress></vc:badge-list>
    </div>

</div>
<div class="row">
    <h2 class="col-12">Chief Scout</h2>
    <vc:chief-scout-member-progress progress=@Model.ChiefScoutProgress></vc:chief-scout-member-progress>
</div>